/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    width: 50%;
}

/*-----------------------
    1st section/header styles
------------------------- */
.first-section{
    background-color: #2D25A0;
    display: flex;
    margin-bottom: 60px;
    padding-left: 7%;
    padding-top: 4%;
    padding-bottom: 8%;
}
.copa-america{
    color: white;
} 
.copa-america h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: .4s;
}
.copa-america h1:hover{
    transform:translate(0px, -30px)
}
.copa-america p{
    width: 250px;
    margin-left: 8px;
    transition: .3s;
}
.copa-america p:hover{
    transform: scale(1.2);
}
.copa-america a{
    background-color: #E02C6D;
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 24px;
    border-radius: 5px;
}
.copa-america i{
    padding-left: 8px;
}
.banner img{
    width: 93%;
    transition: 1s;
}
.banner img:hover{
    transform: rotate(360deg) scale(1.1);
}
/*-----------------------
    2nd section styles
-------------------------*/
.second-section{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 130px;
}
.second-section h2{
    font-size: 50px;
    text-align: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 30px; 
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 474px;
    margin-left: 10%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    width: 300px;
    height: 256px;
}
.player-detail h2{
    color: #18191F;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-detail p{
    color: #6C6C6C;
    text-align: center;
}
/*-----------------------
    3rd section styles
------------------------*/
.third-section{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 140px;
}
.balls{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
}
.ball{ 
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding-left: 6%;
    padding-top: 6%;
    padding-bottom: 5%;
    height: 450px; 
}
.section-title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.ball-image img{
    width: 250px;
    height: 234px;
}
.ball-info h3{
    font-size: 24px;
    margin-bottom: 3px;
}
.ball-info p{
    color: #585859;
    margin-top: 5px;
}
.ball-info a{
    text-decoration: none;
    color: white; 
    background-color: #E02C6D;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 18px;
    margin-top: 20%;
    transition: .2s;
}
.ball-info a:hover{
    font-size: 24px;
    padding: 5px 28px;
}
.buy-button{
    padding-top: 11px;
    margin-bottom: 30px;
}

/*------------------
    footer styles
--------------------*/
.footer-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.football-logo{
    margin-bottom: 30px;
}
.football-logo img{
    width: 484px;
}
.social-links i{
    font-size: 27px;
    margin-right: 15px;
    color: #444547;
    ;
}
.copyright p{
    font-size: 18px;
    margin: 20px;
}
/*-------------------
    Media Queries
--------------------*/
/*----------------
    For Phones
------------------*/
@media only screen and (max-width: 650px) {
    /* 1st section styles */
    section{
        width: 100%;
    }
    .half-width{
        width: 90%;
    }
    .first-section{
        flex-direction: column;
    }
    .copa-america h1{
        font-size: 52px;
    }
    .copa-america p{
        margin-bottom: 20%;
    }
    .banner img{
        width: 98%;
    }
    /* 2nd section styles */
    .second-section{
        padding-left: 0;
    } 
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        justify-self: center;
        margin-left: 0%;
    }
    /* 3rd section styles */
    .third-section{
        padding-left: 0;
    }
    .balls{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 35px;
    }
    .ball{
        justify-self: center;
        padding-right: 5%;
    }
    /* footer styles */
    .football-logo img{
        width: 80%;
        margin-left: 6%;
    }
}
/*-------------------
    For tablets
--------------------*/
@media only screen and (min-width: 650px) and (max-width: 992px) {
    /* 1st section styles */
    section{
        width:100%;
    }
    .first-section{
        flex-direction: column;
    }
    .half-width{
        width: 90%;
    }
    .copa-america p{
        margin-bottom: 25%;
    }
    .banner img{
        width: 94%;
    }
    /* 2nd section styles */
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
    .player{
        justify-self: center;
        margin-left: 0%;
    }
    .second-section{
        padding-left: 0;
    }
    /* third section styles  */
    .third-section{
        padding-left: 0;
    }
    .balls{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 35px;
        grid-column-gap: 5px;
    }
    .ball{
        justify-self: center;
        padding-right: 5%;
    }
}
/*-------------------
    for ipad pro
--------------------*/
@media only screen and (min-width: 1020px) and (max-width: 1280px){
    /* 1st section styles */
    .copa-america h1{
        font-size: 56px;
    }
    .banner img{
        margin-top: 8%;
    }
    /* 2nd section styles */
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 35px;
    }
    .second-section{
        padding-left: 80px;
        padding-right: 80px;
    }
    /* 3rd section styles */
    .balls{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 5px;
    }
    .ball{
        justify-self: center;
        padding-right: 5%;
        padding: 10%;
    }

}
